#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    /* this is for the ligne under ON page name*/
}

#navbar li a {
    /*For the wods on the navbar */
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    /*pour la couleur ali rahi ttbdl on the navbar items 
    we want that the name of the curent page will be underlined*/
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    /*this is to underline the page ON*/
    content: "";
    width: 30%;
    /* Ydi 30% mn klma ali raha fogo*/
    height: 2px;
    background: #088178;
    position: absolute;
    /*must be also on the parent element */
    bottom: -4px;
    left: 20px;
}

/* fi HTML n9smo l page l sections :navbar, home , */
/*Home page */
#hero {
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;

}

#hero h1 {
    color: #088178;

}

#hero button {
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;


}